page-credits {

  ion-content {
    ion-list.list-md:not(:first) {
      margin-top: 1em;
    }
    ion-list-header.item-md {
      background-color: transparent;
      border-top: none;
      color: #333;
      margin-bottom: 0;
    }

    .list-md + ion-list ion-list-header {
        margin-top: 0;
    }
  }

}
