page-joke {
    button.button {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    button img {
        height: 36px;
        width: auto;
        margin-right: 1em;
    }
    p {
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.25em;
        margin: 0.8em 1.5em 1.5em ;
    }
    p span.quote {
        font-size: 2em;
    }
}
