page-joke {
    button.button {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    button img {
        height: 36px;
        width: auto;
        margin-right: 1em;
    }
    #jokeBtn {
        width:90%;
        .button-inner {            
            span {
                display: inline-block;
                white-space: normal;
            }
        }
    } 
    p {
        font-style: italic;
        font-size: 1.5em;
        line-height: 1.25em;
        margin: 0.8em 1.5em 1.5em ;
    }
    p span.quote {
        font-size: 2em;
    }

    ion-list-header.item-md {
        background-color: transparent;
        border-top: none;
        color: #444;
    }
}
