page-more-info {
    ion-list-header.list-header {
        ion-label.label {
            margin: 0;
            padding: 0;
        }
        ion-grid {
            ion-col {
                button {
                    margin-top: 0.4em;

                }
                padding: 0;
            }
            ion-col h2 {
                padding-top: 0.9em;
                color: #cecece;
            }
            padding: 0;
        }

        padding-left: 0;
    }

    ion-input {
        padding-left: 1.5em;
    }

    ion-list-header.list-header.item-md {
        background-color: transparent;
        margin-bottom: 0;
    }

    ion-list.list-md {
        margin-top: 0;
    }

}
